@import '~bootstrap/scss/bootstrap';


body{
  font-family: 'Open Sans', sans-serif;

  img{
    max-width: 100%;
  }
}

header{
  .nav-item{
    a{
          text-decoration: none;
          color:#303030;
          font-size:0.813rem;
    }
  }
  .header_top{
    height:50px;
    background-color: #0282F9;
    font-size:0.813rem;
  }
  .header_bottom{
    .logo img{
      max-width: 80px;
    }
  }
}

main{
  .jumbotron{
    height:400px;
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
  }

  .comics{
      background-color: #1C1C1C;
      color:#FFFFFF;
    .container{
      display: flex;
      flex-wrap: wrap;
      padding-bottom:0.5rem;
      position: relative;

      .current_series{
        position: absolute;
        top: -1rem;
        padding-inline: 1.5rem;
      }
  }
    .card{
      padding:1rem 0.75rem;
      border:0;
      background-color: inherit;
      .card-img{
        aspect-ratio: 1;
        width: 150px;
          &:hover{
              cursor: pointer;
          }
      }
      .card-title{
          padding-top: 0.5rem;
      }
    }
    button{
      background-color: #0282F9;
    }
  }
  .features{
    background-color: #0282F9;
        .container{
            display: flex;
            justify-content: space-around;            padding-top:2rem;
            padding-bottom:2rem;
         }
        .img_container{
            max-width:40px;
        }
        .card_item{
            display: flex;
            align-items: center;
            background-color: inherit;
            span{
                padding-left:0.5rem;
                text-transform: uppercase;
                font-size: 0.813rem;
                color: #FFFFFF;
              }
        }
  }
}